<h1>Contacts</h1>


<% @contacts.each do |contact| %>
  <% if contact.user_id == @user.id %>

    <div>
      <a href="<%=contact_path(contact.id)%>"><h2><%= contact.first_name + " " + contact.last_name %></h2></a>
      <p><%= contact.email %> ||  <%= contact.phone %></p>
      <p>---------------------------------------------</p>
      <p>NOTES: <%= contact.note  %></p>

      <p>---------------------------------------------</p>

      <p> <%= link_to 'EDIT CONTACT', edit_contact_path(contact.id) %>  ||  <%= link_to "DELETE CONTACT", contact_path(contact.id), :method => :delete%>

    </div>


  <% end %>
<% end %>
