
    <div>
      <h2><%= @contact.first_name + " " + @contact.last_name %></h2>
      <p><%= @contact.email %> ||  <%= @contact.phone %></p>
      <p>NOTES: <%= @contact.note  %></p>

      <p>---------------------------------------------</p>

      <p><%= link_to 'EDIT CONTACT', edit_user_contact_path(@user.id, @contact.id) %>  ||  <%= link_to "DELETE CONTACT", user_contact_path(@user.id, @contact.id), :method => :delete%>

    </div>
