<!DOCTYPE html>
<html>
  <head>
    <title>KineticCrm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Exo+2" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if current_user %>
        <p class = 'login_status'>Signed in as <%= current_user.email %> | <a href="/logout">Logout</a> | <%= link_to "DELETE ACCOUNT", user_path(current_user.id), :method => :delete, :confirm => "Warning! This action will PERMANANTLY delete your account and all of your contacts. Continue?"%>
      </p>

      <h1 class="title">Rolodex</h1>
      <h4 class="subtitle">contact information database</h4>

      <ul class="nav">
        <a href="/<%= current_user.id %>"><li class="navlink">List all contacts</li></a>
        <a href="/contacts/new"><li class="navlink">Add a contact</li></a>
        <a href="/"><li class="navlink">About</li></a>
        <li id="alert"><%= flash[:alert] %></li>

      </ul>
<% end %>
    </header>
    <%= yield %>
  </body>
</html>
