<!DOCTYPE html>
<html>
  <head>
    <title>KineticCrm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Exo+2" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if current_user %>
        <p class = 'login_status'>Signed in as <%= @current_user.username %> | <a href="/logout">Logout</a></p>
      <% end %>

      <h1 class="title">Rolodex</h1>
      <h4 class="subtitle">client relations management system</h4>

      <% if current_user %>
      <ul class="nav">
        <a href="/<%= @current_user.id %>"><li class="navlink">List all contacts</li></a>
        <a href="/new"><li class="navlink">Add a contact</li></a>
        <a href="/"><li class="navlink">About</li></a>
        <% end %>

      </ul>

    </header>
    <%= yield %>
  </body>
</html>
